body {
	background: #835C3B;
	overflow: hidden;
	font-family: "arial";
	text-align: center;
}

body h1 {
	color: #47311f;
}

#canvasDiv {
	position:relative;
	background: tan;
	width: 820px;
	height: 820px;
	margin: auto;
}

canvas {
	margin: 20px;
	position: absolute;
	top: 0px;
	left: 0px;
}