body {
	background: #835C3B;
	overflow: hidden;
	font-family: "arial";
	text-align: center;
}

body h1 {
	color: #47311f;
}

#settingsButtonDiv {
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	width: 10vh;
	height: 10vh;
	max-height: 60px;
	max-width:60px;
	background: black;
	opacity: 0.4;
	border-radius: 10px;
	z-index: 50;
	transition: 0.2s;
}

#settingsButtonDiv:hover {
	opacity: 1;
	background: #333;
	transition: 0.2s;
}

#settingsButtonDiv img{
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	max-height: 60px;
	max-width: 60px;
}

#settingsDiv {
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	min-height: 100%;
	min-width: 0px;
	width: 0vw;
	background: #eee;
	z-index: 100;
	transition: 0.3s
}

#settingsDiv.active {
	min-width: 300px;
	width: 22vw;
	transition: 0.3s;
	border-left: #2a465e solid; 
}

#settingsDiv #settingsCloseButton {
	max-height: 40px;
	max-width: 40px;
	width: 10vh;
	height: 10vh;
	border-radius: 10px;
	float: left;
	margin: 10px;
	background-color: #3B6182;
	border: #2a465e solid;
	color: white;
	font-weight: bold;
	font-size: 30px;
	display: block;
}

#settingsDiv table{
	margin-left: 15px;
	width: calc(100%-15px);
}

#settingsDiv td{
	padding-top: 10px;
	min-width: 100px;
}

#settingsDiv table label{
	font-size: 22px;
	float: left;
}

/*Slider from W3Schools*/
#settingsDiv .slider{
	-webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

#settingsDiv .slider:hover{
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
}

#settingsDiv .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #3B6182; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#settingsDiv .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #3B6182; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#settingsDiv .credits{
	font-size: 13px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
}

#canvasDiv {
	position:relative;
	background: tan;
	width: 80vw;
	min-width: 160px;
	height: 80vh;
	margin: auto;
	padding: 20px;
}

#toolbarDiv {
	overflow: hidden;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	min-width: 200px;
	height: 10vh;
	max-height: 60px;
}

#toolbarBtnDiv {
	/*overflow: hidden;*/
	background-color: #3B6182;
	margin: 0px auto;
	width: 100vw;
	max-width: 600px;
	min-width: 200px;
	height: 10vh;
	max-height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#toolbarBtnDiv div{
	border-right: 2px #2a465e solid;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}

#toolbarBtnDiv img {
	display: block;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	min-width: 25%;
	object-fit: contain;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}

#toolbarBtnDiv .highlight {
	background: #2a465e;
}

#toolbarBtnDiv label {
	display: block;
	text-align: center;
	line-height: calc(100% - 8px);
	min-width: 40px;
	text-decoration: none;
	background: none;
	border: none;
	color: white;
	font-weight: bold;
	margin: 4px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
/*	background: #2a465e;*/
}

#toolbarDiv button:focus {
	outline: none;
}

canvas {
	position: absolute;
	top: 20px;
	left: 20px;
}